.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.image {
  display: block;
  width: auto;
  height: 770px;
  margin-left: -30px;
}
.highlight {
  color: #ff005c;
}
.div-text
  {

    margin-top: 150px;
    background-color: #111;
    border-radius: 10px;
    padding: 2rem;
    min-width: 100px;
  }
@media screen and (max-width: 768px) {
  
  .home-container
  {
    height: 100vh;
  }
  .image
  {
    margin-left: -100px;
    display: block;
    width: 600px;
    height: 780px;

  }
  .div-text
  {
    margin-top: 330px;
    margin-left: -500px;
    background-color: #111;
    border-radius: 10px;
    padding: 2rem;
  } 
}
